#root {
    margin: 0 auto;
    text-align: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    margin: 0 10px;
}

#navbar a:hover {
    color: #393e46;
}

#navbar a.active {
    font-weight: 1000;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        height: auto;
        gap: 2vh;
    }

    #navbar a {
        font-size: 2.5vh;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    #navbar {
        gap: 1vh;
    }

    #navbar a {
        font-size: 2vh;
        margin: 3px 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 93vh;
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
}

table th, table td {
    width: 33.33%;
    text-align: center;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    height: 50vh;
    overflow: auto;
}
