@font-face {
    font-family: 'CustomFont';
    src: url('./font.ttf') format('truetype');
}

* {
    font-family: 'CustomFont', sans-serif;
}

.burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 24px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    text-align: center;
    width: 80vw;
}

.main-content {
    overflow-y: auto; /* Abilita lo scorrimento verticale */
    padding: 20px;
    margin-top: 15vh; /* Aggiungi un margine superiore per evitare la sovrapposizione */
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu a {
    margin: 0 10px; /* Aggiungi margine tra i link */
    padding: 10px;
    text-decoration: none;
}

.menu a.active {
    font-weight: bold;
}

.menu.open {
    display: flex;
}

table {
    width: 100%;
}

table th, table td {
    text-align: center;
    width: 33.33%;
}

#cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 50vh;
    overflow: auto;
}

#navbar, .navbar {
    align-items: center;
    background: linear-gradient(90deg, #003366, #00509E); /* Gradiente blu */
    display: flex;
    gap: 2vw;
    height: 10vh;
    justify-content: space-between;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra sottile */
    font-family: 'Open Sans', sans-serif; /* Font moderno */
}

#navbar a, .navbar a {
    color: #FFFFFF; /* Testo bianco */
    margin: 0 15px; /* Aumenta il margine tra i link */
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombreggiatura leggera */
}

#navbar a.active, .navbar a.active {
    font-weight: 1000;
    text-decoration: underline; /* Sottolinea il testo */
    text-underline-offset: 3px; /* Distanza la sottolineatura dal testo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombreggiatura leggera */
}

#navbar a:hover, .navbar a:hover {
    color: #00AEEF; /* Cambia in azzurro brillante */
    font-style: italic; /* Testo in corsivo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombreggiatura leggera */
}

#root {
    width: 100%;
    margin: 0;
    text-align: center;
}

@media (max-width: 480px) {
    #navbar {
        gap: 1vh;
    }

    #navbar a, .menu a {
        font-size: 3vh; /* Aumenta la dimensione del font */
        margin: 5px 0; /* Aumenta il margine */
    }
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        gap: 2vh;
        height: auto;
    }

    .burger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.open {
        display: flex;
    }

    #navbar a, .menu a {
        font-size: 2.5vh;
        margin: 5px 0;
    }
}
